# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# ForgeCode runtime dynamic data
session/
.env
*.local.toml

# Virtual Environments
.venv/
venv/
ENV/
env/
venv.bak/
ENV.bak/

# Testing / coverage
.cache
.pytest_cache/
.tox/
.noscript/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.hypothesis/
htmlcov/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject
.settings/

# OS metadata
.DS_Store
Thumbs.db
